In [1]:
import pandas as pd
import numpy as np

In [3]:
cov=pd.read_csv("covid.csv")
print(cov)

     AggregationMethod        Date  Version                    AirportName  \
0                Daily  2020-04-03      1.0                Kingsford Smith
1                Daily  2020-04-13      1.0                Kingsford Smith
2                Daily  2020-07-10      1.0                Kingsford Smith
3                Daily  2020-09-02      1.0                Kingsford Smith
4                Daily  2020-10-31      1.0                Kingsford Smith
...                ...         ...      ...                            ...
7242             Daily  2020-06-05      1.0  Seattle-Tacoma International
7243             Daily  2020-10-03      1.0  Seattle-Tacoma International
7244             Daily  2020-07-16      1.0  Seattle-Tacoma International
7245             Daily  2020-07-31      1.0  Seattle-Tacoma International
7246             Daily  2020-08-30      1.0  Seattle-Tacoma International

      PercentOfBaseline                                   Centroid    City  \
0                    64  POINT(151.180087713813 -33.9459774986125)  Sydney
1                    29  POINT(151.180087713813 -33.9459774986125)  Sydney
2                    54  POINT(151.180087713813 -33.9459774986125)  Sydney
3                    18  POINT(151.180087713813 -33.9459774986125)  Sydney
4                    22  POINT(151.180087713813 -33.9459774986125)  Sydney
...                 ...                                        ...     ...
7242                 80  POINT(-122.308661576118 47.4505828917119)  SeaTac
7243                 55  POINT(-122.308661576118 47.4505828917119)  SeaTac
7244                 76  POINT(-122.308661576118 47.4505828917119)  SeaTac
7245                 69  POINT(-122.308661576118 47.4505828917119)  SeaTac
7246                 68  POINT(-122.308661576118 47.4505828917119)  SeaTac

                State ISO_3166_2                         Country  \
0     New South Wales         AU                       Australia
1     New South Wales         AU                       Australia
2     New South Wales         AU                       Australia
3     New South Wales         AU                       Australia
4     New South Wales         AU                       Australia
...               ...        ...                             ...
7242       Washington      US-WA  United States of America (the)
7243       Washington      US-WA  United States of America (the)
7244       Washington      US-WA  United States of America (the)
7245       Washington      US-WA  United States of America (the)
7246       Washington      US-WA  United States of America (the)

                                              Geography
0     POLYGON((151.164354085922 -33.9301772341877, 1...
1     POLYGON((151.164354085922 -33.9301772341877, 1...
2     POLYGON((151.164354085922 -33.9301772341877, 1...
3     POLYGON((151.164354085922 -33.9301772341877, 1...
4     POLYGON((151.164354085922 -33.9301772341877, 1...
...                                                 ...
7242  POLYGON((-122.297594547272 47.434474106872, -1...
7243  POLYGON((-122.297594547272 47.434474106872, -1...
7244  POLYGON((-122.297594547272 47.434474106872, -1...
7245  POLYGON((-122.297594547272 47.434474106872, -1...
7246  POLYGON((-122.297594547272 47.434474106872, -1...

[7247 rows x 11 columns]

In [4]:
cov.describe()

       Version  PercentOfBaseline
count   7247.0        7247.000000
mean       1.0          66.651442
std        0.0          22.134433
min        1.0           0.000000
25%        1.0          53.000000
50%        1.0          67.000000
75%        1.0          84.000000
max        1.0         100.000000

In [9]:
cov["Geography"]

0       POLYGON((151.164354085922 -33.9301772341877, 1...
1       POLYGON((151.164354085922 -33.9301772341877, 1...
2       POLYGON((151.164354085922 -33.9301772341877, 1...
3       POLYGON((151.164354085922 -33.9301772341877, 1...
4       POLYGON((151.164354085922 -33.9301772341877, 1...
                              ...
7242    POLYGON((-122.297594547272 47.434474106872, -1...
7243    POLYGON((-122.297594547272 47.434474106872, -1...
7244    POLYGON((-122.297594547272 47.434474106872, -1...
7245    POLYGON((-122.297594547272 47.434474106872, -1...
7246    POLYGON((-122.297594547272 47.434474106872, -1...
Name: Geography, Length: 7247, dtype: object

In [12]:
cov.mode()

,AggregationMethod,Date,Version,AirportName,PercentOfBaseline,Centroid,City,State,ISO_3166_2,Country,Geography
0,Daily,2020-03-16,1.0,Dallas/Fort Worth International,100.0,POINT(-118.404993180627 33.941369379328),New York,California,US-CA,United States of America (the),"POLYGON((-118.439612388611 33.9517616366508, -..."
1,NaN,2020-03-17,NaN,Hartsfield-Jackson Atlanta International,NaN,POINT(-73.7424121584688 45.4678436940192),NaN,New York,US-NY,NaN,"POLYGON((-73.751757144928 45.44954912446, -73...."
2,NaN,2020-03-18,NaN,John F. Kennedy International,NaN,POINT(-73.7784465295804 40.6460265940045),NaN,NaN,NaN,NaN,"POLYGON((-73.7883961200714 40.6226989508664, -..."
3,NaN,2020-03-19,NaN,Los Angeles International,NaN,POINT(-84.4279188822754 33.6410758198944),NaN,NaN,NaN,NaN,"POLYGON((-84.4299745559692 33.657852680999, -8..."
4,NaN,2020-03-20,NaN,Montreal Trudeau,NaN,POINT(-97.0394983968728 32.8940590356408),NaN,NaN,NaN,NaN,"POLYGON((-97.0429444313049 32.9265900261254, -..."
...,...,...,...,...,...,...,...,...,...,...,...
206,NaN,2020-11-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,NaN,2020-11-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,NaN,2020-11-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,NaN,2020-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,NaN,2020-12-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN