In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
import matplotlib.pyplot as plt

In [6]:
prison= pd.read_csv("prison.csv")
print(prison)

     Year  Type of Offence        M        F    F%
0    2013              Debt     618       28  4.33
1    2013             Arson     685       14     2
2    2013            Affray    1000       12  1.19
3    2013           Assault    8301      681  7.58
4    2013            Murder    6852      320  4.46
..    ...               ...     ...      ...   ...
119  2016    Cultism/Ritual     401        2   0.5
120  2016   Breach of peace     948       26  2.67
121  2016     Other Offence   25942     1442  5.27
122  2016             Total   36481     6367  4.46
123  2016  Total calculated  136384  6365.83   NaN

[124 rows x 5 columns]

In [7]:
prison.describe()

             Year
count   124.00000
mean   2014.50000
std       1.12257
min    2013.00000
25%    2013.75000
50%    2014.50000
75%    2015.25000
max    2016.00000

In [10]:
prison["M"]

0         618
1         685
2        1000
3        8301
4        6852
        ...
119       401
120       948
121     25942
122     36481
123    136384
Name: M, Length: 124, dtype: object

In [17]:
prison.isnull()

      Year  Type of Offence       M      F     F%
0    False             False  False  False  False
1    False             False  False  False  False
2    False             False  False  False  False
3    False             False  False  False  False
4    False             False  False  False  False
..     ...               ...    ...    ...    ...
119  False             False  False  False  False
120  False             False  False  False  False
121  False             False  False  False  False
122  False             False  False  False  False
123  False             False  False  False   True

[124 rows x 5 columns]

In [24]:
prison.Year.notnull

<bound method Series.notnull of 0      2013
1      2013
2      2013
3      2013
4      2013
       ...
119    2016
120    2016
121    2016
122    2016
123    2016
Name: Year, Length: 124, dtype: int64>