In [1]:
firstname="ADE"
lastname="RONKE"
print(firstname,lastname)

ADE RONKE

In [2]:
print(type(firstname))

<class 'str'>

In [6]:
NIG = ["LAGOS", "ABUJA", "ABIA", "OSUN", "IMO", "ENUGU", "DELTA", "KWARA", "KOGI", "BENUE"]
NIG

['LAGOS',
 'ABUJA',
 'ABIA',
 'OSUN',
 'IMO',
 'ENUGU',
 'DELTA',
 'KWARA',
 'KOGI',
 'BENUE']

In [7]:
NIG[5]= "BAUCHI"
print(NIG)

['LAGOS', 'ABUJA', 'ABIA', 'OSUN', 'IMO', 'BAUCHI', 'DELTA', 'KWARA', 'KOGI', 'BENUE']

In [10]:
NIG[1]

'ABUJA'

In [13]:
NIG[:3]

['LAGOS', 'ABUJA', 'ABIA']

In [14]:
#REMOVING THE LAST THREE ITEMS IN A LIST
NIG[:-3]

['LAGOS', 'ABUJA', 'ABIA', 'OSUN', 'IMO', 'BAUCHI', 'DELTA']

In [15]:
#ADDING A PARTICULAR ITEM TO CHANGE IN A LIST
NIG.append("RONKE")
NIG

['LAGOS',
 'ABUJA',
 'ABIA',
 'OSUN',
 'IMO',
 'BAUCHI',
 'DELTA',
 'KWARA',
 'KOGI',
 'BENUE',
 'RONKE']

In [16]:
#EXTENDING A PARTICULAR ITEM AS A STRING IN A LIST
NIG.extend("RONKE")
print(NIG)

['LAGOS', 'ABUJA', 'ABIA', 'OSUN', 'IMO', 'BAUCHI', 'DELTA', 'KWARA', 'KOGI', 'BENUE', 'RONKE', 'R', 'O', 'N', 'K', 'E']

In [17]:
#INSERTING A PARTICULAR ITEM IN A GIVEN POSITION IN A LIST
NIG.insert(1, "RONKE")
NIG

['LAGOS',
 'RONKE',
 'ABUJA',
 'ABIA',
 'OSUN',
 'IMO',
 'BAUCHI',
 'DELTA',
 'KWARA',
 'KOGI',
 'BENUE',
 'RONKE',
 'R',
 'O',
 'N',
 'K',
 'E']

In [18]:
#TO DELETE THE LAST ITEM IN A LIST
NIG.pop()
NIG

['LAGOS',
 'RONKE',
 'ABUJA',
 'ABIA',
 'OSUN',
 'IMO',
 'BAUCHI',
 'DELTA',
 'KWARA',
 'KOGI',
 'BENUE',
 'RONKE',
 'R',
 'O',
 'N',
 'K']

In [19]:
#SPECIFYING A PARTICULAR ITEM TO REMOVE IN A LIST
NIG.remove("RONKE")
NIG

['LAGOS',
 'ABUJA',
 'ABIA',
 'OSUN',
 'IMO',
 'BAUCHI',
 'DELTA',
 'KWARA',
 'KOGI',
 'BENUE',
 'RONKE',
 'R',
 'O',
 'N',
 'K']

In [20]:
#SPECIFYING A PARTICULAR ITEM TO CHANGE IN A LIST
NIG[2]= "IJERO"
NIG

['LAGOS',
 'ABUJA',
 'IJERO',
 'OSUN',
 'IMO',
 'BAUCHI',
 'DELTA',
 'KWARA',
 'KOGI',
 'BENUE',
 'RONKE',
 'R',
 'O',
 'N',
 'K']

In [1]:
#using relational operators
a = int(input("enter your grade"))
if a<=50:
    print("Average")
elif a<=70:
     print("Very Good")
else:
    print("Excellent")

enter your grade 90

Excellent

In [7]:
#check item in a list
myname = ["olah", "Bisi", "Tolu"]
if "ola" in myname:
    print("Yes")
else:
    print("No")

No

In [11]:
#Print all items in a list
for i in myname:
    print(i)

olah
Bisi
Tolu

In [15]:
#Check item in a list from user input
b = input("Enter name to check item")
if b in myname:
    print (b, "is Available")
else:
    print ("Not Availabe")

Enter name to check item Bisi

Bisi is Available

In [17]:
#lenght of item in a list
len(myname)

3

In [24]:
#Dictionary
#Key value pair
student1 = {'name':'ADE', 'GRADE': 'BEST', 'AGE':'40'}
student2 = {'name':'SADE', 'GRADE': 'GOOD', 'AGE':'30'}
student3 = {'name':'BADE', 'GRADE': 'BETTER', 'AGE':'35'}
student4 = {'name':'TADE', 'GRADE': 'BEST', 'AGE':'33'}
student5 = {'name':'FADE', 'GRADE': 'AVERAGE', 'AGE':'36'}

students = (student1,student2,student3,student4,student5)
print(students)

({'name': 'ADE', 'GRADE': 'BEST', 'AGE': '40'}, {'name': 'SADE', 'GRADE': 'GOOD', 'AGE': '30'}, {'name': 'BADE', 'GRADE': 'BETTER', 'AGE': '35'}, {'name': 'TADE', 'GRADE': 'BEST', 'AGE': '33'}, {'name': 'FADE', 'GRADE': 'AVERAGE', 'AGE': '36'})

In [27]:
import pandas as pd

In [28]:
df = pd.DataFrame(students)
df

   name    GRADE AGE
0   ADE     BEST  40
1  SADE     GOOD  30
2  BADE   BETTER  35
3  TADE     BEST  33
4  FADE  AVERAGE  36

In [2]:
Rainbow1 = {'color: Red'}
Rainbow2 = {'color: Orange'}
Rainbow3 = {'color: Green'}
Rainbow4 = {'color: Blue'}
Rainbow5 = {'color: Indigo'}
Rainbow6 = {'color: Yellow'}
Rainbow7 = {'color: Voilet'}
Rainbow = {'Rainbow1': Rainbow1, 'Rainbow2': Rainbow2, 'Rainbow3': Rainbow3, 'Rainbow4': Rainbow4, 'Rainbow5': Rainbow5, 'Rainbow6': Rainbow6, 'Rainbow7': Rainbow7}
print(Rainbow)

{'Rainbow1': {'color: Red'}, 'Rainbow2': {'color: Orange'}, 'Rainbow3': {'color: Green'}, 'Rainbow4': {'color: Blue'}, 'Rainbow5': {'color: Indigo'}, 'Rainbow6': {'color: Yellow'}, 'Rainbow7': {'color: Voilet'}}

In [3]:
import pandas as pd
df=pd.DataFrame(Rainbow)
df

TypeError: Set type is unordered

In [4]:
A = int (input('Grade'))
if A<=39: print ('Fail')
elif A<=51: print ('Good')
elif A<=71: print ('Very Good')
else: print ('Excellent')

Grade 80

Excellent

In [13]:
#Average of four numbers
a = 10
b = 20
c = 30
d = 40
Total = (a+b+c+d)
print(Total)
AVG = Total/4
print(AVG)

100
25.0

In [14]:
num = int(input("100"))
mod = num % 2
if mod>0: print("This is an odd number")
else: print("This is an even number")

100 100

This is an even number

In [16]:
# triangle
a = 5
b = 10
c = 4
#s = semiperimeter
s = (a+b+c)/2
Area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
print(Area)

(6.639192523364281e-16+10.84262422110072j)

In [4]:
#Area of a triangle
B = 10
H = 4
Area = (B*H) * 0.5
print(Area)

20.0

In [5]:
#simple interest
#P = Principal
#R = Rate
#T = Time

P = 10
R = 20
T = 5
simpleinterest = P*R*T
print(simpleinterest)

1000

In [41]:
#odd nos from 1 to 100
a = 0 ; b =100
for i in range (a,b+1):
    if i%2==0 :
        pass
    else:
        print(i, end =" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [ ]:
#A function is a block of code which only runs when it's called, you can pass data i.e parameters into a function
# A function can return data as result.

In [22]:
def dataAnalyst():
    print("CLOUD COMPUTING")
dataAnalyst()

CLOUD COMPUTING

In [21]:
#informmation can be passed into functions as argument, usually inside parentheses
#By default, A function must be called with same number of expected arguments
def my_function(fname):
    print(fname + " OJO")
my_function("Wonder")
my_function("Olar")

Wonder OJO
Olar OJO

In [23]:
def INDIAN(country):
    print(country, "countries in Indian")
INDIAN(34)

34 countries in Indian

In [36]:
def name(fname):
    return fname
print("Ola")

Ola

In [52]:
def name():
    a = 3
    b = 5
    c = a + b
    print(c)
    retu name()