In [57]:
import numpy as np

In [56]:

import pandas as pd

In [50]:
budget= pd.DataFrame({"Agric":[780,750,720,715,700,770,730],
       "Health":[450,430,415,420,410,440,435],
        "Edu":[125,175,120,115,100,170,130],
        "Sport":[70,75,72,71,70,77,73],
        "Work":[500,507,520,515,507,570,530]
})
print(budget)
budget.index.name="item"

   Agric  Health  Edu  Sport  Work
0    780     450  125     70   500
1    750     430  175     75   507
2    720     415  120     72   520
3    715     420  115     71   515
4    700     410  100     70   507
5    770     440  170     77   570
6    730     435  130     73   530

In [35]:
print(budget)
#creating diff val
budget["health"]= [500,1250,5000,2000,5000,2006,3400]

#usingnp.arange
Ser = pd.Series(np.arange(0))
budget["sport"]= Ser

#updating single value
budget["Work"][0]=1600

#deleting a column
del budget["Edu"]

      Agric  Health  Sport  Work  maint  sport
item
0       780     450     70  1600    0.0    NaN
1       750     430     75   507    1.0    NaN
2       720     415     72   520    NaN    NaN
3       715     420     71   515    NaN    NaN
4       700     410     70   507    NaN    NaN
5       770     440     77   570    NaN    NaN
6       730     435     73   530    NaN    NaN

<ipython-input-35-2882140e9477>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  budget["Work"][0]=1600

In [38]:
print(budget)
budget[budget<5000
       
#Transpose
budget.T

      Agric  Health  Sport  Work  maint  sport
item
0       780     450     70  1600    0.0    NaN
1       750     430     75   507    1.0    NaN
2       720     415     72   520    NaN    NaN
3       715     420     71   515    NaN    NaN
4       700     410     70   507    NaN    NaN
5       770     440     77   570    NaN    NaN
6       730     435     73   530    NaN    NaN

item         0      1      2      3      4      5      6
Agric    780.0  750.0  720.0  715.0  700.0  770.0  730.0
Health   450.0  430.0  415.0  420.0  410.0  440.0  435.0
Sport     70.0   75.0   72.0   71.0   70.0   77.0   73.0
Work    1600.0  507.0  520.0  515.0  507.0  570.0  530.0
maint      0.0    1.0    NaN    NaN    NaN    NaN    NaN
sport      NaN    NaN    NaN    NaN    NaN    NaN    NaN

In [89]:
print(budget)
ser1=pd.Series(np.arange(6),index=["red","yellow","blue","green","white","brown"])
print(ser1)
ser1.idxmax()
ser1.idxmin()

['Edu']
red       0
yellow    1
blue      2
green     3
white     4
brown     5
dtype: int32

NameError: name 'drop' is not defined

In [93]:
budget= pd.DataFrame({"Agric":[780,750,720,715,700,770,730],
       "Health":[450,430,415,420,410,440,435],
        "Edu":[125,175,120,115,100,170,130],
        "Sport":[70,75,72,71,70,77,73],
        "Work":[500,507,520,515,507,570,530]
}index=["red","yellow","blue","green","white","brown"])
print(budget)
drop()
budget.drop(["yellow","red"])

SyntaxError: invalid syntax (<ipython-input-93-25b47f1a6391>, line 6)

In [84]:
budget= pd.DataFrame({"Agric":[780,750,720,715,700,770,730],
       "Health":[450,430,415,420,410,440,435],
        "Edu":[125,175,120,115,100,170,130],
        "Sport":[70,75,72,71,70,77,73],
        "Work":[500,507,520,515,507,570,530]
})
                  
budget=["Edu"]
print(budget)

['Edu']

AttributeError: 'list' object has no attribute 'drop'